*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   font-family: 'Overpass', sans-serif;
   scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
.top{
    width: 100%;
    height: 400px;
    background-color:rgba(255, 82, 93, 1);
    background-image: url("blogr-landing-page-main/images/bg-pattern-intro.svg");
    background-size:180% 180% ;
    border-bottom-left-radius: 70px;
    
}
.top-links{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 0px 70px;
}

.dropdown-links{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid blue; */
    width: 400px;
    margin-top: 10px;
    padding-right: 150px;
}
.Hamburger{
  display: none;
}
.dropbtn {
    background-color: transparent;
    color: white;
    /* padding: 10px; */
    font-size: 12px;
    border: none;
    cursor: pointer;
    /* margin-left: 30px; */
  }
  
  .dropbtn:hover, .dropbtn:focus {
    transform: scale("1:1");
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(32, 1, 1, 0.2);
    
 
  }
  .dropdown-content:hover {
    display: block;
    scroll-behavior: smooth;
  }
  .dropdown-content:focus{
    display: block;
    scroll-behavior: smooth;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10px;

  }
 
  .dropdown-content a:hover, .dropdown-content a:focus{
    background-color: rgba(128, 128, 128,0.2);

  }
  

  .dropbtn:focus + .dropdown-content {
      display: block;
      
  }
  .login{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 100px;
    width: 150px;
  }
  .login-link a{
    text-decoration: none;
    font-size: 12px;
    color: white;
  }
  .sign button{
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    border-radius: 20px;
    width: 70px;
    height: 30px;
    border: none;
    color: white;
  }
  .sign{
    margin-bottom: 10px;
  }
  
  .modern h3{
    font-size: 35px;
    color: white;
    /* font-family: 'Ubuntu', sans-serif; */
  }
  .top-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  .grow p{
    color: white;
    font-size: 16px;
    margin-top: 5px;
  }
.last-two-buttons{
  display: flex;
  width: 280px;
  margin-top: 40px;
  justify-content: space-around;
}
.start button{
  width: 120px;
  height: 35px;
  color: white;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  border: none;


}
.learn button{
  width: 120px;
  height: 35px;
  color:rgba(255, 82, 93, 1) ;
  font-size: 13px;
  background-color:white;
  border-radius: 50px;
  border: none;
}
.header{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px;
  color:  hsl(207, 13%, 34%);
}
.second-page-con{
  width: 800px;
  padding: 40px 0px 20px 30px;
}
.content-head{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 12px;
  color: hsl(207, 13%, 34%);
}
.content-body{
  font-size: 14px;
  padding-bottom: 30px;
  line-height: 20px;
  color: hsl(207, 13%, 34%);
}
.second-half img{
  width: 650px;
}
.second-half{
  position: relative;
  left: 250px;
}
.second-page-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-bottom: 30px;
}
.second-flex{
  display: none;
}
.second-page-cont{
  display: none;
}
#second-page{
  overflow: hidden;
}
#third-page{
  height: 300px;
  background-color: hsl(237, 23%, 32%);
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.state-header{
  font-size: 20px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  
}
.state-body{
  font-size: 13px;
  color:hsl(0, 0%, 100%) ;
  padding-top: 15px;
  width: 400px;
  line-height: 20px;
}
.forth-page{
  margin-top: 100px;
}
.laptop img{
  width: 600px;
}
.fourth-page-con{
  width: 450px;
}
.fourth-page-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
}
.free-open p{
  font-size: 20px;
  font-weight: 700;
  color: hsl(207, 13%, 34%);
}
.free-blogr{
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 20px;
  color: hsl(207, 13%, 34%);
}
.powerful{
  font-size: 20px;
  font-weight: 700;
  color: hsl(207, 13%, 34%);
}
.Batteries{
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 20px;
  color: hsl(207, 13%, 34%);
}
.foot-link{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.foot-link a{
  font-size: 11px;
  line-height: 20px;
  text-decoration: none;
  color: hsl(240, 2%, 79%);
}
.foot-header{
  font-size: 15px;
  font-weight: 550;
  color:  hsl(240, 2%, 79%);
}
footer{
  margin-top: 70px;
  background-color:  hsl(240, 10%, 16%);
  border-top-right-radius: 50px;
 
  
}
.fifth-page{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

}


















@media screen and (max-width:1500px) {
  #third-page{
    margin-top: 50px;
  }
  .dropbtn {
    background-color: transparent;
    color: white;
    /* padding: 10px; */
    font-size: 15px;
    border: none;
    cursor: pointer;
    /* margin-left: 30px; */
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;

  }
  
}



@media screen and (max-width : 800px){
  .dropdown-links{
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin-top: 80px;
    padding-right: 100px;
}
  .dropbtn {
    background-color: transparent;
    color: white;
    /* padding: 10px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* margin-left: 30px; */
  }
  .second-page-con{
    width: 600px;
    padding: 40px 0px 20px 30px;
  }
  .content-head{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
  }
  .content-body{
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 25px;
  }
  .second-half img{
    width: 500px;
    position: relative;
    right: 250px;
  }
  .second-half{
    margin-top: 30px;
  }
  .header{
    padding-top: 50px;
  }
  .second-page-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
 
  }
  #third-page{
    height: 500px;
    background-color: hsl(237, 23%, 32%);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .state-header{
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    
  }
  .phones img{
    width: 350px;
  }
  .state-body{
    font-size: 15px;
    color:hsl(0, 0%, 100%) ;
    /* padding: 15px 0px 0px 0px; */
    width: 350px;
    line-height: 20px;
  }
  .state-of-art{
   margin: auto; 
  }
}











@media screen and (max-width : 500px) {

  .top{
    height: 450px;
    width: 100%;
    background-color:rgba(255, 82, 93, 1);
    background-image: url("blogr-landing-page-main/images/bg-pattern-intro.svg");
    border-bottom-left-radius: 70px;
  
    
}
.top-links{
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  padding: 30px 25px 0px 25px;
}

.dropdown-links{
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 80px;
  display: none;
  
}
.login{
  display: none;
}
.Hamburger{
  display: block;
}
.Hamburger button{
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-block;
  
}
.dropdown-con{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(32, 1, 1, 0.2);
  margin-right: 30px;
  width: 100vw;
  height: 350px;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
}
.dropdown-con a:hover, .dropdown-con a:focus{
  background-color: rgba(128, 128, 128,0.2);
}
.dropdown-con a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
}

.drop-butom:focus + .dropdown-con {
  display: block;
}
.modern h3{
  font-size: 30px;
  color: white;
  text-align: center;
}
.modern{
  width: 300px;
}
.top-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.grow p{
  color: white;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
.grow{
  width: 250px;
}
.last-two-buttons{
  display: flex;
  width: 270px;
  margin-top: 40px;
  justify-content: space-around;
}
.start button{
  width: 120px;
  height: 35px;
  color: white;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  border: none;
  font-weight: bold;


}
.menu{
  width: 50px;
}
.learn button{
  width: 120px;
  height: 35px;
  color:rgba(255, 82, 93, 1) ;
  font-size: 13px;
  background-color:white;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}
.second-page-con{
  display: none;
}
.second-page-flex{
  display: none;
}
.second-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.second-page-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.secnd-half img{
  width: 300px;
}
.contnt-hed{
  width: 150px;
  text-align: center;
  margin-bottom: 10px;

}
.contnt-hed p{
  margin-top: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;


}
.contnt-bdy{
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}
.contnt-bdy p{
  font-size: 14px;
  line-height: 22px;
  font-family: 'Ubuntu', sans-serif;
  

}
#third-page{
  height: 350px;
  background-color: hsl(237, 23%, 32%);
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
}
.state-header{
  font-size: 20px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  
}
.phones img{
  width: 250px;
  margin-bottom: 10px;
}
.state-body{
  font-size: 13px;
  color:hsl(0, 0%, 100%) ;
  /* padding: 15px 0px 0px 0px; */
  width: 300px;
  line-height: 20px;
  padding-bottom: 100px;
}
.state-of-art{
 margin: auto; 
}

.laptop img{
  width: 300px;
}
.fourth-page-con{
  width: 300px;
}
.fourth-page-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.free-open p{
  font-size: 18px;
  font-weight: 700;
}
.free-blogr{
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 18px;
}
.powerful{
  font-size: 18px;
  font-weight: 700;
}
.Batteries{
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 18px;
}
.foot-link{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.foot-link a{
  font-size: 11px;
  line-height: 20px;
  text-decoration: none;
  color: hsl(240, 2%, 79%);
}
.foot-header{
  font-size: 15px;
  font-weight: 550;
  color:  hsl(240, 2%, 79%);
  padding-top: 30px;
}
footer{
  margin-top: 70px;
  background-color:  hsl(240, 10%, 16%);
  border-top-right-radius: 50px;
 
  
}

.fifth-page{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

}

}